<head>
    <title>{{{title}}}</title>
</head>
<div class="hero-wrap js-fullheight" style="background-image: url('{{background}}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Places</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destinations</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Find City</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Địa điểm, thành phố">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Ngày đi">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Ngày về">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">

                    {{#each tours}}
                        <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                            <div class="destination">
                                <a href="/tour-detail/{{this.ma_lich_trinh}}" class="img img-2 d-flex justify-content-center align-items-center"
                                   style="background-image: url('/uploads/{{this.hinhdaidien}}');">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-link"></span>
                                    </div>
                                </a>

                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="/tour-detail/{{this.ma_lich_trinh}}">{{this.ten_tour}}</a></h3>
                                        </div>
                                        <div class="two">
                                            <span class="price">{{formatCurrency this.gia_nguoi_lon}}</span>
                                        </div>
                                    </div>

                                    <p class="days">
                                        <span>{{formatDate this.ngay_di}} - {{formatDate this.ngay_ve}}</span>
                                    </p>
                                    <hr>

                                    <p class="bottom-area d-flex">
                                        <span><i class="icon-map-o"></i> {{this.ten_dia_diem}}</span>

                                        <span class="ml-auto"><a href="/tour-detail/{{this.ma_lich_trinh}}">Xem ngay</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="col-12 text-center">
                            <p>Hiện chưa có lịch trình tour nào đang mở.</p>
                        </div>
                    {{/each}}

                </div>


            </div>
        </div>
    </div>
</section>